 
<div class='span4'>
    <a href='#product/{{product.id}}' class='thumbnail'>
        <img ng-src='{{product.thumbnailUrl}}' alt='{{product.name}}'/>
        
        <h3>{{product.name}}</h3>
        <p>Артикул {{product.sku}}</p>
        <h4>{{product.price}}</h4>
    </a>
</div>
