[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}
.thumbnail {
    margin-bottom: 10px;
}
.product a:hover, a:visited, a:active, a:link {
    text-decoration: none;
}
.title {
    color: #555;
}
.text {
    color: #000;
}
.product-option-panel {
    padding-bottom: 12px;
    position: static;
    float: none;
}
.product-option-name {
    font-weight: bold;
    color: #000000;
}
.product-option-radio {
    margin: 0;
}
.product-count {
    display: inline;
}
.shaded {
    color: #999;
}
.small {
    font: normal 8px;
}
.price {
    font: normal 24px tahoma, geneva, verdana, sans-serif;
    color: #a20505;
    white-space: nowrap;
    margin: 10px 0;
}
.dropdown-menu {
    border: 0;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}
.dropdown-menu {
    width: 150%;
}
.product img {
    max-height: 90px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0 10px 0 0;
}
.in-cart {
    position: relative;
    width: 0;
    height: 0;
    margin-right: 20px;
}
.category img {
    max-height: 90px;
}
.cart-table-thumbnail-col {
    width: 10%;
}
.cart-table-count-col {
    width: 10%;
}
.cart-table-price-col {
    width: 10%;
}
.cart-table-total-col {
    width: 15%;
}
.cart-btn-icon {
    margin-top: 3px;
}
