<ul class='breadcrumb'>
    <li>
        <a href='#/list/0'>{{ 'STORETITLE' | translate }}</a>
        <span class='divider'>/</span>
    </li>
    <li ng-repeat='category in parentCategories'>
        <a href='#/list/{{category.id}}'>{{category.name}}</a>
        <span class='divider'>/</span>
    </li>
</ul>
 
