 <div ng-include='"templates/header-nav.html"'></div>

<table class='table table-hover'>
    <thead>
        <tr class='shaded small'>
            <th>
                {{ 'PRODUCTTITLE' | translate }}
            </th>
            <th>
            </th>
            <th>
                {{ 'PRICETITLE' | translate }}
            </th>
            <th>
                {{ 'COUNT' | translate }}
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='product in cartContents'>
            <td class='cart-table-thumbnail-col'>
                <img ng-src='{{product.thumbnailUrl}}' />
            </td>
            <td class='cart-table-title-col'>
                <a href='#/product/{{product.id}}'><h5>{{product.name}}</h5></a>
                <div>{{product.optionsText}}</div>
            </td>
            <td class='cart-table-price-col'>
                <div >
                {{product.price + product.addition | ecwidCurrency}}
                </div>
            </td>
            <td>
                <input type='number' min='0' max='{{product.quantity}}' value='{{product.ordered}}' integer class='span1' ng-model='product.ordered' ng-change='calculatePrices(cartContents)'/>
            </td>
            <td  class='cart-table-total-col'>
                <div>
                    {{product.totalPrice | ecwidCurrency}}
                </div>
            </td>
        </tr>
        <tr>
            <td class='cart-table-thumbnail-col'>
            </td>
            <td class='cart-table-title-col'>
                <h5>{{ 'SUBTOTAL' | translate }}:</h5>
            </td>
            <td class='cart-table-price-col'>
                
            </td>
            <td class='cart-table-count-col'>
            </td>
            <td class='cart-table-total-col'>
                {{totalPrice | ecwidCurrency}}
            </td>
        </tr>
    </tbody>
</table>

<div class='shaded small pull-right'>{{ 'TOREMOVESETZERO' | translate }}</div>

<div class='btn-group'>
    <div class='btn' ng-click='clearCart()'><i class='pull-left icon-trash cart-btn-icon'></i> {{ 'CLEARCART' | translate }} </div>
    <div class='btn' ng-click='saveCartData()'><i class='pull-left icon-shopping-cart icon-large cart-btn-icon'></i>  {{'SAVECART' | translate}}</div>
</div>
