<div class='navbar'>
    <div class='navbar-inner'>
        <a class='brand' href='#/list/0'>{{ 'STORETITLE' | translate }}</a>
        <ul class='nav'>
            <li ng-repeat='category in rootCategories'>
                <a href='#/list/{{category.id}}'>{{category.name}}</a>
            </li>
             <li>
                <a  class='pull-right' href='#/cart'>{{ 'CARTTITLE' | translate }}</a>
            </li>
        </ul>
    </div>
</div>
 
