<div ng-include='"templates/header-nav.html"'></div>
<div ng-include='"templates/breadcrumbs-nav.html"'></div>


<div class='thumbnails row'>
    <div class='category row span4' ng-repeat='category in categories'>
        <a href='#/list/{{category.id}}' class='thumbnail'>
            <img ng-src='{{category.thumbnailUrl}}' alt='{{category.name}}' err-src='img/noimage.gif' />
            <h3 class='title text-center'>{{category.name}}</h3>
        </a>
    </div>
</div>
    
<div>
<hr />
</div>
<div class="btn-toolbar row" ng-hide='products.length == 0'>
    <div class="btn-group" ng-show='false'>
        <div class='btn' ng-click=''><i class='icon-th-large'></i></div>
        <div class='btn' ng-click=''><i class='icon-list'></i></div>
        <div class='btn' ng-click=''><i class='icon-th-list'></i></div>
    </div>
    
    <div class='btn-group pull-right'>
        <a class='btn'><i class='icon-sort-by-alphabet'></i>  {{ 'SORTORDER' | translate }}:</a>
        <a class='btn dropdown-toggle' data-toggle='dropdown'>
        
        <span class='icon-caret-down'></span></a>
            <ul class='dropdown-menu'>
                <li><div class='btn btn-block' ng-click='predicate="name";'><i class='pull-left icon-fixed-width icon-sort-by-alphabet'></i> {{ 'NAMEASC' | translate }}</div></li>
                <li><div class='btn btn-block' ng-click='predicate="-name";'><i class='pull-left icon-fixed-width icon-sort-by-alphabet-alt'></i> {{ 'NAMEDESC' | translate }}</div></li>
                <li><div class='btn btn-block' ng-click='predicate="price";'><i class='pull-left icon-fixed-width icon-sort-by-order'></i><div> {{ 'PRICEASC' | translate }}</div></div></li>
                <li><div class='btn btn-block' ng-click='predicate="-price";'><i class='pull-left icon-fixed-width icon-sort-by-order-alt'></i> {{ 'PRICEDESC' | translate }}</div></li>
                <li><div class='btn btn-block' ng-click='predicate="date";'><i class='pull-left icon-calendar'></i><i class='pull-left icon-long-arrow-down'></i> {{ 'DATEASC' | translate }}</div></li>
            </ul>
    </div>
</div>

<div class='thumbnails row'>
    <div ng-repeat='product in products | orderBy:predicate' class='product'>
                 
        <div class='span4'>
            <a href='#product/{{product.id}}' class='thumbnail'>
                <div class='in-cart pull-right'>
                    <i ng-show='product.inCart' class='icon-ok text'></i>
                </div>
                <img ng-src='{{product.thumbnailUrl}}' alt='{{product.name}}'/>
                
                <h3 class='title'>{{product.name}}</h3>
                <p class='text'>{{ 'SKUTITLE' | translate }} {{product.sku}}</p>
                <h4 class='price text-right'>{{product.price | ecwidCurrency}}</h4>
            </a>
        </div>

    </div>
</div>
