<div ng-include='"templates/header-nav.html"'></div>
<div ng-include='"templates/breadcrumbs-nav.html"'></div>


<div class='row'>
    <div class='span7'>
        <h2>{{product.name}}</h2>
        <img ng-src='{{product.imageUrl}}' />
    </div>
    <div class='span3 well pull-right'>
        <form name='orderForm'>
            <div>{{ 'SKUTITLE' | translate }} {{product.sku}} </div>
            <div class='price'>{{product.price | ecwidCurrency}}</div>
            <div ng-repeat='option in product.options' class='product-option-panel'>
                <div class='product-option-name'>{{option.name}}</div>
                <div ng-switch on='option.type'>
                    <div ng-switch-when='SELECT'>
                        <select  ng-required='option.required'  ng-model='option.value' ng-options='choice.text as choice.text for choice in option.choices'>
                        </select>
                    </div>
                    <div ng-switch-when='RADIO'>
                        <div ng-repeat='optionChoice in option.choices'>
                            <input type='radio' name='{{option.name}}' ng-model='option.value' value='{{optionChoice.text}}'/>{{optionChoice.text}}
                        </div>
                    </div>
                    <div ng-switch-when='TEXTFIELD'>
                        <input type='textfield' name='{{option.name}}'  ng-required='option.required' ng-model='option.value'/>
                    </div>
                    <div ng-switch-when='TEXTAREA'>
                        <textarea name='{{option.name}}' ng-required='option.required' ng-model='option.value'></textarea>
                    </div>
                    <div ng-switch-when='DATE'>
                        <input type='date' name='{{option.name}}' ng-required='option.required' ng-model='option.value'/>
                    </div>
                    <div ng-switch-when='FILES'>
                        <input type='file' multiple='multiple' name='{{option.name}}' class='file-input' ng-required='option.required' ng-model='option.value'/>
                    </div>
                    <div ng-switch-when='CHECKBOX'>
                        <div ng-repeat='optionChoice in option.choices'>
                            <input type='checkbox' name='{{option.name}}+" "+{{optionChoice.text}}' ng-model='optionChoice.selected'>{{optionChoice.text}}
                        </div>
                    </div>
                </div>
            </div>
            
            <label for='count'><div class='product-count product-option-name'>{{ 'COUNT' | translate }} </div><div class='product-count' ng-show='product.quantity != null'>({{product.quantity - getAlreadyInCart(product)}} {{ 'AVAILABLE' | translate }})</div>
            <input name='count' type='number' min='1' max='{{maximumAvailableCount}}' integer class='span1' style='display: inline-block;' ng-model='countForAdding'/></label>
            <br />
            <div type='submit' class='btn btn-primary' ng-disable='everythingInCart' ng-click='addToCart(product, orderForm)'>{{ 'ADDTOCART' | translate }}</div>
        </form>
    </div>
</div>
<div class='row' ng-bind-html-unsafe='product.description'>
    {{product.description}}
</div>
